[Unit]
Description=gthx IRC bot

[Service]
Type=simple
EnvironmentFile=/etc/default/gthx
Restart=on-failure
ExecStart=/usr/sbin/gthx/gthx.py

[Install]
WantedBy=multi-user.target
