[Unit]
Description=gthx IRC bot

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/sbin/gthx/gthx.py gthx

[Install]
WantedBy=multi-user.target
